body{
    background-color: #aaa;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}

.container
{
    width: 100%;
    inset: 0;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-flow: column wrap;
}
.container .slider
{
    width: 80%;
    height: 500px;
    position: relative;
}
.slider-number
{
    position: absolute;
    padding: 4px 8px;
    background-color: #fcfcfc;
    border-radius: 0px 0px 10px 0px;
    color: #0f0692;
    z-index: 1;
}
.container .slider img 
{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit:cover;
    opacity: 0;
}
.active
{
    background-color: #1e0597;
    color: #fff;
    opacity: 1 !important;
}
.tops
{
    display: flex;
    justify-content: space-between;
    margin-left: -110px;
   
}
.tops> span
{
    margin: 30px 30px 0px;
}
.left
{
    background-color: #1b154b;
    color: #fff;
    padding: 10px 12px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    left: 150px;
    top: 250px;
}
.right
{
    background-color: #1b154b; 
    color: #fff;
    padding: 10px 12px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    right: 150px;
    top: 250px;
}
.controls i
{
    font-size: 22px;
}
.tops ul li
{
    display: inline-block;
    border: 1px solid #eee;
    padding: 1px 6px;
    margin: 6px 3px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    cursor: pointer;
}
.disabled
{
    background-color: #05089cec !important;
    cursor: no-drop !important;
}
@media (max-width:500px) {

    .container .slider
{
    width: 110%;
    height: 500px;
    position: relative;
}
.left
{
    background-color: #1b154b;
    color: #fff;
    padding: 10px 12px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    left: 10px;
    top: 250px;
}
.right
{
    background-color: #1b154b; 
    color: #fff;
    padding: 10px 12px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 250px;
}
}